allure-behave==2.9.43
allure-python-commons==2.9.43
attrs==20.2.0
behave==1.2.6
iniconfig==1.1.1
packaging==20.4
parse==1.18.0
parse-type==0.5.2
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
selenium==3.141.0
six==1.15.0
toml==0.10.2
urllib3==1.25.11
PyMySQL~=1.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.25
webdriver-manager==3.4.2
